.main-body{
  min-height: 100vh;
}

body{
  color: white;
  text-shadow: 2px 1px 5px black;
}

.transparent{
  background-color:#00000000 !important ;
  border: none !important;
}

@media screen and (min-width: 600px) {
  .weather{
    border-right: 3px white solid !important;
  }
  
}

.main {
  background-color: #00000028;
  backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.575);
}

.error{
  color: red;
  font-weight: 500;
  font-size: larger;
  text-align: left !important;
  text-shadow: 1px 1px 3px black;
}

.wind{
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 3%;
  margin: 0 -3%;
}

.blur input, button{
  background-color: rgba(255, 255, 255, 0) !important;
  backdrop-filter: blur(1px);
  border-color: #ffffff23 !important;
}

.blur button:hover, input:hover{
  backdrop-filter: blur(5px);
  border-color: black !important;
}

.blur input:focus{
  border-color: rgb(0, 0, 0) !important;
  backdrop-filter: blur(5px);
}

.blur input::target-text{
  border-color: rgb(0, 0, 0) !important;
  backdrop-filter: blur(5px);
}

.blur button:active{
  background-color: rgba(255, 255, 255, 0.432) !important;
}

input{
  font-weight: bold !important;
  color: black !important;
  text-shadow: 1px 1px 4px white;
}

.loader {
  width: 50px;
  height: 50px;
}